# PostgreSQL Database Configuration
PGHOST=localhost
PGPORT=5432
PGDATABASE=aurabean_db
PGUSER=gairiknandi
PGPASSWORD=

# Backend Server Port
PORT=5050


# Email Service (Nodemailer)
# If left empty, system automatically uses Ethereal test mock transporter with preview link
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
EMAIL_FROM="Aura & Bean Cafe" <reservations@aurabeancafe.com>

# Admin Passcode
ADMIN_PASSCODE=admin123
